.navbar{
    height: 50px;
    background-color: #004DDA;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #004DDA;
    background-color: white;
}
.navButton > a {
    color: #004DDA;
    text-decoration: none;
}

.mybook, .logout{
    background-color: none;
    font-weight: 500;
    color: black;
    background: transparent;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    transition: all linear 0.2s;
    background-color: yellowgreen;
}
.logout{
    background-color: aqua;
}
.mybook:hover{
    color: gray;
    background-color: white;
}